<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
       <header class="card-header">
	       <h4 class="card-title mt-2">Clinician Registration Form</h4>
       </header>
       <article class="card-body">
<form #loginForm="ngForm" (ngSubmit)="createClinicianForm()">
	<small class="text-danger">{{msg}}</small>
	<div class="form-row">
		<div class="col form-group">
			<label>Full Name</label>   
			  <input type="text" class="form-control" placeholder="Enter Full Name" name="fullname" required #fullname="ngModel"
			   [(ngModel)]="clinicianForm.fullname" [class.is-invalid]="fullname.invalid && fullname.touched">
		<small class="text-danger" [class.d-none]="fullname.valid || fullname.untouched">Please enter full Name</small>
			</div> <!-- form-group end.// -->
	</div> <!-- form-row end.// -->

	<div class="form-group">
		<label>Email address</label>
		<input type="email" class="form-control" placeholder="Enter email" name="email" required 
		#email="ngModel" [(ngModel)]="clinicianForm.email" [class.is-invalid]="email.invalid && email.touched">
		<small class="text-danger" [class.d-none]="email.valid || email.untouched">Please enter correct email Id</small>
	</div> <!-- form-group end.// -->
	
	<div class="form-group">
		<Label class="form-check form-check-inline"><b>Gender:</b></Label>
			<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="gender" value="male" required [(ngModel)]="clinicianForm.gender">
		  <span class="form-check-label"> Male </span>
		</label>
		<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="gender" value="female" required [(ngModel)]="clinicianForm.gender">
		  <span class="form-check-label"> Female</span>
		</label>
	</div> <!-- form-group end.// -->
	<div class="form-row">
		<div class="form-group col-md-6">
		  <label>Age</label>
		  <input type="text" class="form-control" placeholder="Enter Age" name="age" required
		  [(ngModel)]="clinicianForm.age" #age="ngModel" [class.is-invalid]="age.invalid && age.touched">
		  <small class="text-danger" [class.d-none]="age.valid || age.untouched">Please enter age</small>   
		</div> <!-- form-group end.// -->
		<div class="form-group col-md-6">
			<label>Phone Number</label>
			<input type="text" class="form-control" placeholder="Enter number" name="phone"  required 
			[(ngModel)]="clinicianForm.phone" #phone="ngModel" [class.is-invalid]="phone.invalid && phone.touched">
			<small class="text-danger" [class.d-none]="phone.valid || phone.untouched">Please enter correct phone number</small>   
		  </div> <!-- form-group end.// -->
	</div> <!-- form-row.// -->

	<div class="form-row">
		<div class="form-group col-md-6">
		  <label>Experience</label>
			<select class="form-control" [(ngModel)]="clinicianForm.experience" required name="experience"
			#experience="ngModel" [class.is-invalid]="experience.invalid && experience.touched">
			<small class="text-danger" [class.d-none]="experience.valid || experience.untouched">Please select correct option</small>   
				<option>0-1</option>
				<option>1-3</option>
				<option selected="">3-5</option>
				<option>5-7</option>
				<option>8</option>
				<option>9</option>
				<option>10+</option>
			</select>
		</div> <!-- form-group end.// -->

		<div class="form-group col-md-6">
		  <label>Specialization</label>
		  <select class="form-control" [(ngModel)]="clinicianForm.specialization" name="specialization" required
		  #specialization="ngModel" [class.is-invalid]="specialization.invalid && specialization.touched">
		  <small class="text-danger" [class.d-none]="specialization.valid || specialization.untouched">Please select correct option</small>   
		      <option>Cardiology</option>
		      <option>Oncology</option>
		      <option selected="">General practice</option>
		      <option>Pediatrics</option>
			  <option>Radiology</option>
			  <option>Dermatology</option>
			  <option>Surgery</option>
		  </select>
	    </div> <!-- form-group end.// -->
	</div>

	<div class="form-group">
		<label>Address</label>
		<input class="form-control" type="text" [(ngModel)]="clinicianForm.address" name="address" required
		#address="ngModel" [class.is-invalid]="address.invalid && address.touched">
		<small class="text-danger" [class.d-none]="address.valid || address.untouched">Please enter address</small>   
	</div> <!-- form-group end.// --> 
	
	<div class="form-group">
		<label>Availability</label>
		<select  class="form-control" [(ngModel)]="clinicianForm.availability" name="availability" required
		#availability="ngModel" [class.is-invalid]="availability.invalid && availability.touched">
			<small class="text-danger" [class.d-none]="availability.valid || availability.untouched">Please select correct option</small>   
			<option>Monday</option>
		      <option>Tuesday</option>
		      <option selected="">Wednesday</option>
		      <option>Thursday</option>
			  <option>Friday</option>
			  <option>Saturday</option>
			  <option>Sunday</option>
		  </select>
	</div> <!-- form-group end.// --> 

    <div class="form-group">
		<button [disabled]="loginForm.form.invalid" type="submit" class="btn btn-primary btn-block"> Save  </button>
		<button type="reset" class="btn btn-danger btn-block"> Cancel  </button>
	</div> <!-- form-group// -->      
</form>
      </article> <!-- card-body end .// -->
    </div> <!-- card.// -->
   </div> <!-- col.//-->

  </div> <!-- row.//-->
</div> 
<!--container end.//-->

