<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Clinician Details</h4>
      </div>
      <div class="container" *ngFor="let clinician of clinicians">
      
          {{ clinician.fullname }}
          {{ clinician.age }}
          {{ clinician.gender }}
          {{ clinician.email }}
          {{ clinician.phone }}  
          {{ clinician.address }}
          {{ clinician.experience }}
          {{ clinician.specialization }}
          {{ clinician.availability }}
      
      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal" (click) = "hide()">Close</button>
      
      </div>
    </div>
    </div>
    </div>

  

<!-- <section class="contact-link" id="contact">
    <h2>Contact</h2>
</section> -->
<br>
<div class="center">

<h4>Available Clinicians</h4>

</div>
<div class = "col-lg-12 col-sm-12 col-xs-12">
  <table class="table table-striped table-responsive-md btn-table">
      <thead>
        <tr>
          
          <th>Full Name</th>
          <th>Specialization</th>
          <th>Availability</th>
          
          <th>Modify</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let clinicianForm of clinicianForms">
          
          <td>{{ clinicianForm.fullname }}</td>
          <td>{{ clinicianForm.specialization }}</td>
          <td>{{ clinicianForm.availability }}</td>
          <!-- <td> 
            <button mat-raised-button color="primary" routerLink="/admin/{{ clinicianForm.phone }}" (click)="showClinicianDetails()">Get Details</button> 
          </td> -->
          <td>
            <button mdbBtn color="indigo"  routerLink="/cmform/{{ clinicianForm.phone }}"  size="sm" mdbWavesEffect type="button" class="m-0">Modify</button>
          </td>
          
        </tr>
        
      </tbody>
    </table>
    </div>

<br>

    <!-- <ng-template #longContent let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Cras mattis consectetur stibulum at eros.</p>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template> -->

    <div class="center">
      <h4>Patients Registered</h4>
      
      </div>
    <div class = "col-lg-12 col-sm-12 col-xs-12">
      <table class="table table-striped table-responsive-md btn-table">
          <thead>
            <tr>
              
              <th>Full Name</th>
              <th>Gender</th>
              <th>Appointment</th>
              
              <th>Modify</th>
            </tr>
          </thead>
      
          <tbody>
            <tr *ngFor="let patientForm of patientForms">
              
              <td>{{ patientForm.fullname }}</td>
              <td>{{ patientForm.gender }}</td>
              <td>{{ patientForm.appointment }}</td>
              <!-- <td> 
                <button mat-raised-button color="primary" routerLink="/admin/{{ clinicianForm.phone }}" (click)="showClinicianDetails()">Get Details</button> 
              </td> -->
              <td>
                <button mdbBtn color="indigo"  routerLink="/cmform/{{ patientForm.phone }}"  size="sm" mdbWavesEffect type="button" class="m-0">Modify</button>
              </td>
              
            </tr>
            
          </tbody>
        </table>
        </div>