<header>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        
        <div><a routerLink="/admin" class="navbar-brand">HMS</a></div>
        <ul class="navbar-nav">
            <li><a  routerLink = "/admin" class="nav-link">Home</a></li>
            <li><a routerLink = "/clinician" class="nav-link">Clinician</a></li>
            <li><a routerLink = "/patient" class="nav-link">Patient</a></li>
        </ul>

        <!-- <ul class="navbar-nav navbar-collapse justify-content-end">
            
           <li> <a [routerLink] = "['/admin']"  fragment="about"> About Us </a></li> 
            <li> <a [routerLink] = "['/']"  fragment="contact"> Contact Us </a></li>
        </ul> -->

    </nav>
</header>
