<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<br>
<div class="container">

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
       <header class="card-header">
	       <h4 class="card-title mt-2">Update Patient Form</h4>
       </header>
       <article class="card-body">
<form *ngIf="modifyGroup" [formGroup]="modifyGroup" (ngSubmit)="updatePatientForm()">
	
	<div class="form-row">
		
		<div class="col form-group">
			<label>Patient Id</label>   
			  <input type="text" class="form-control"  name="patientId" 
			  formControlName="patientId" [readonly]="true" value= patientId>
		</div>

		<div class="col form-group">
			<label>Full Name</label>   
			  <input type="text" class="form-control" placeholder="Enter Full Name" name="fullname" required
			  formControlName="fullname" >
			<span class="text-danger"
			*ngIf="(modifyGroupControl.fullname.touched || submitted) && modifyGroupControl.fullname.errors?.required">
			Full Name is required
		    </span>
		</div>
			  
	</div> <!-- form-row end.// -->

	<div class="form-group">
		<label>Email address</label>
		<input type="email" class="form-control" placeholder="Enter email" name="email" required 
		formControlName="email" >
		<span class="text-danger"
			*ngIf="(modifyGroupControl.email.touched || submitted) && (modifyGroupControl.email.errors?.required)">
			Please enter valid email id
			</span>   
			<span class="text-danger" *ngIf="modifyGroup.controls['email'].hasError('pattern') && (modifyGroup.controls['email'].dirty ||
			modifyGroup.controls['email'].touched)">Please enter valid email address</span>
			
	</div> <!-- form-group end.// -->
	
	<div class="form-group">
		<Label class="form-check form-check-inline"><b>Gender:</b></Label>
			<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="gender" value="male" required formControlName="gender">
		  <span class="form-check-label"> Male </span>
		</label>
		<label class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="gender" value="female" required formControlName="gender">
		  <span class="form-check-label"> Female</span>
		</label>
	</div> <!-- form-group end.// -->

	<div class="form-row">
		<div class="form-group col-md-6">
		  <label>Age</label>
		  <input type="text" class="form-control" placeholder="Enter Age" name="age" required
		  formControlName="age" >
		  <span class="text-danger"
			*ngIf="(modifyGroupControl.age.touched || submitted) && modifyGroupControl.age.errors?.required">
			Please enter age
			</span>   
			
			<div class="text-danger" *ngIf="modifyGroupControl.age.errors?.age">
                <sup>*</sup>Age should not be more than 100 years
              </div>		
	    </div> <!-- form-group end.// -->
		
	    <div class="form-group col-md-6">
			<label>Phone Number</label>
			<input type="text" class="form-control" placeholder="Enter number" name="phone"  id="phone" required 
			formControlName="phone" >
			<span class="text-danger"
			*ngIf="(modifyGroupControl.phone.touched || submitted) && modifyGroupControl.phone.errors?.required">
			Please enter the phone number
			</span>
			<div class="text-danger" *ngIf="(modifyGroupControl.phone.errors?.pattern) || (modifyGroupControl.phone.errors?.maxlength)">
				Phone number must be 10-digits number</div>

		</div> <!-- form-group end.// -->
	</div> <!-- form-row.// -->

	<div class="form-group">
		<label>Address</label>
		<input class="form-control" type="text" formControlName="address" name="address" required>
		<span class="text-danger"
			*ngIf="(modifyGroupControl.address.touched || submitted) && modifyGroupControl.address.errors?.required">
			Address is required
		    </span>
		</div> <!-- form-group end.// --> 
	
	<div class="form-group">
		<label>Appointment</label>
		<select  class="form-control" formControlName="appointment" name="appointment" required>
			<option>Monday</option>
		      <option>Tuesday</option>
		      <option selected="">Wednesday</option>
		      <option>Thursday</option>
			  <option>Friday</option>
			  <option>Saturday</option>
			  <option>Sunday</option>
		  </select>
		  <span class="text-danger"
			*ngIf="(modifyGroupControl.appointment.touched || submitted) && modifyGroupControl.appointment.errors?.required">
			Select appointment
		    </span>
	</div> <!-- form-group end.// --> 

    <div class="form-group">
		<button [disabled]="!modifyGroup.valid" type="submit" class="btn btn-primary btn-block">Update  </button>
		<button type="reset" class="btn btn-danger btn-block"> Cancel  </button>
	</div> <!-- form-group// -->      
</form>
      </article> <!-- card-body end .// -->
    </div> <!-- card.// -->
   </div> <!-- col.//-->

  </div> <!-- row.//-->
</div> 
<br>
<br>
<br>