<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">





<br>
<div class="head">
  <h3 class="text-primary" style="text-align:center">Patient Details</h3>
</div>

<nav class="navbar">
<div class="section">

  <h6>&nbsp;&nbsp;Click here to add a new Patient <button class="btn btn-primary" [routerLink]="['/pform']">Add New Patient</button></h6>
</div>

<input class="form-control" type="text" name="fullname" [(ngModel)]= "fullname"  
        style="margin:left;max-width:300px" (ngModelChange)="searchByFullname()" placeholder="Search by Fullname">
      
</nav>


    <div class="mat-elevation-z8">
    <table class="table table-striped table-responsive-md btn-table">
        <thead>
          <tr>
            <th>Patient ID</th>
            <th>Full Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            
          </tr>
        </thead>
    
        <tbody>
          <tr *ngFor="let patientForm of patientForms | paginate: {itemsPerPage:7, currentPage:page1};">
            <td>{{ patientForm.patientId }}</td>
            <td>{{ patientForm.fullname }}</td>
            <td>{{ patientForm.age }}</td>
            <td>{{ patientForm.gender }}</td>
            <td>{{ patientForm.email }}</td>
            <td>{{ patientForm.phone }}</td>  
            <td>{{ patientForm.address }}</td>
            <td>
              <button mdbBtn class="btn btn-primary"   routerLink="/mform/{{ patientForm.patientId }}"  size="sm" mdbWavesEffect type="button" >Modify</button>
            </td>
            <td>
              <button mdbBtn class="btn btn-warning" size="sm" mdbWavesEffect type="button"  
              mwlConfirmationPopover
      [popoverTitle]="popoverTitle"
      [popoverMessage]="popoverMessage"
      placement="left"
      (confirm)="deletePatient(patientForm)"
      (cancel)="cancelClicked = true"
              >  Delete</button>
            </td>
          </tr>
          
        </tbody>
        <pagination-controls (pageChange)="page1 = $event"></pagination-controls>
      </table>
      </div>
      <br>
      <br>
